.hero {
    padding: 40px 0;

    .container {
        
        position: sticky;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        max-height: 0 1.5rem;
        background: #fff;
        text-align: center;
        gap: 0 10px;
        padding: 0 1.5rem;
    }


    li {
        display: flex;
        align-items: center;
        color: #002f34;
    }

    input {
        width: 95%;
        height: 4rem;
        border: none;
        border-right: 1px solid #bbb;
        font-size: 1rem;
        margin-left: 1rem;
    }

    input:focus {
        outline: none;
    }

    &__search {
        width: 52%;
    }

    &__text {
        width: 35%;
    }

    &__search--icon,
    &__text--icon,
    &__btn--icon {
        font-size: 1.5rem;
    }
    &__btn:hover{
        background: #002f34;
    }
    &__btn--icon {
        margin-left: 10px;
    }

    &__search--btn {
        border: none;
        color: #002f34;
        font-size: 1rem;
        font-weight: 500;
        background: #fff;
        font-size: 1.1rem;
        margin-left: 1rem;
    }

}