.hero {
    padding: 40px 0;
    margin-top: 6.25rem;

    .container {

        position: sticky;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        background: #fff;
    }


    li {
        display: flex;
        align-items: center;
        color: #002f34;
    }

    input {
        width: 95%;
        height: 4rem;
        border: none;
        border-right: 1px solid #bbb;
        font-size: 1rem;
        margin-left: 1rem;
    }

    input:focus {
        outline: none;
    }

    &__search {
        width: 52%;
        padding-left: 10px;
    }

    &__text {
        width: 35%;
        padding-left: 10px;
    }

    &__btn {
        width: 17%;
        height: 100%;
        padding: 17px 0 18px;
        padding-left: 10px;
        display: flex;
        justify-content: center;

    }



    &__search--icon,
    &__text--icon,
    &__btn--icon {
        font-size: 1.5rem;
    }

    &__btn--icon {
        margin-left: 10px;
    }


    &__btn:hover {
        background: #002f34;
    }

    &__btn:hover &__search--btn {
        color: #fff;
    }

    &__search--btn {
        border: none;
        font-size: 1rem;
        font-weight: 500;
        background: transparent;
        font-size: 1.1rem;
    }

    &__res {
        width: 50%;
        background: #fff;

    }

    .search-suggestions {
        padding-left: 2rem;
    }

    .search-result-item {
        display: block;
        padding: 13px 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #000;
        font-size: 1.1rem;
        border-bottom: 1px solid #e2e1e1;

        &:last-child {
            border: none;
        }

        &:hover {
            background-color: #002f34;
            color: #fff;
        }
    }

}