.hero {
    padding: 40px 0;
    background: #F2F4F5;

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
        max-height: 0 1.5rem;
        background: #fff;
        padding: 0 1.5remR;
    }

    i {
        font-size: 25px;
    }

    li {
        display: flex;
        align-items: center;
    }

    input {
        width: 95%;
        height: 4rem;
        border: none;
        border-right: 1px solid #bbb;
        font-size: 1rem;
    }
    input:focus{
        outline: none;
    }
    &__search {
        width: 52%;
    }

    &__text {
        width: 33%;
    }

    &__btn {
        width: 15%;
    }
    &__search--btn{
        border: none;
        background: #fff;
        font-size: 1rem;
    }

}