.header {
    &__logo {
        width: 70px;
        display: flex;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .message__icon,
    .like__icon,
    .user__icon {
        font-size: 22px;
        color: #fff;
    }

    nav {
        width: 70%;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0 10px;

    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 0 10px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    li:hover a {
        color: #b9b9b9 !important;
    }

    li :hover h5 {
        color: #b9b9b9;
    }

    li:hover svg {
        color: #b9b9b9;
    }


    &__language {
        font-size: 12px !important;
    }

    h5 {
        color: #fff;
    }
}