.single-product {

    &__container {
        width: 1221px;
        padding: 0 20px;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 50px 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: cursive;
        background: #fff;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 40px;
        line-height: 1.3rem;
        gap: 1rem 0;
    }

    &__img {
        width: 500px;
        object-fit: cover;
        border-radius: .5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__description {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__price {
        font-weight: bold;
        font-size: 1.25rem;
    }
}